.form{
  margin-top: 5%;
  align-self: center;
}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 1%; 
    margin-left: 50%;
    width: 40%;
    
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
    margin-left: 0%;
    width: 40%;
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 50%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
    width: 50%
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  