

.product{
    margin-top: 2%;
    width: 100%;
    border: 0.5px solid;
    background-color: floralwhite;
    

}

.productHeader{
    background-color:green;
    color: white;
    font: bold 20pt verdana;
    width:50%;
    margin-left : 25%;
    text-align: center;
    


}
.productBody{
    width : 100%;
    
}





.productImage{
    margin-top: 3%;
    width: 200px;
    margin-left: 30%;
    height:200px
    
    
}

.productfeatures{
    margin-left: 42%;
    color:red;
    font: bold 17px verdana;
}

.productinfo{
  margin-left: 20%;
  color: blue;
  font:  italic 15px verdana;
  width : 80%;
  
    
}








      
